/* NAVBAR STYLING START */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  background-image: linear-gradient(
    to right,
    #f5eef7,
    #d2c7fb,
    #aeabf8,
    #e09dee,
    #f9d4d9,
    #eed1f3,
    #776aa2
  );
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-image: linear-gradient(
    to right,
    #f5eef7,
    #d2c7fb,
    #aeabf8,
    #e09dee,
    #f9d4d9,
    #eed1f3,
    #776aa2
  );
  color: #282f39;
  box-shadow: 0px 4 px 22px rgb(116 130 151 / 14%);
}

.nav-links a {
  color: #282f39;
}

/* LOGO */

.logo {
  font-size: 44px;
  font-family: "Berkshire Swash", cursive;
}

.logo a {
  text-decoration: none;
  color: #282f39;
  text-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
}

.logo a:hover {
  color: #a095e6;
  border-radius: 5px;
  transition: 0.3s ease;
}

/* NAVBAR MENU */

.menu {
  display: flex;
  gap: 1em;
  font-size: 22px;
  font-family: "Playfair Display", serif;
}

.menu li a:hover {
  color: #fff;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}

.menu li {
  padding: 5px 14px;
}

/* COVER IMAGE */

.cover-img {
  background-image: url("images/silmarillion.jpg");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
}

.cover-img2 {
  background-image: url("images/bryan-goff-f7YQo-eYHdM-unsplash.jpg");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
}

/* CALL TO ACTION */

.call-to-action {
  font-family: "Playfair Display", serif;
  color: #e2e1eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.welcome {
  font-size: 4rem;
  padding-bottom: 2rem;
}

.intro {
  font-size: 2rem;
  font-style: italic;
  font-family: "Berkshire Swash", cursive;
  text-decoration: underline;
}

.prophecie {
  max-width: 700px;
  text-align: center;
  margin: 20px;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.button {
  background-image: linear-gradient(to right, #f1415b, #f21a28);
  color: #fff;
  border: none;
  border-radius: 2rem;
  padding: 1.5rem;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  transition: transform 1s;
}

.button:hover {
  box-shadow: none;
  cursor: pointer;
  transform: scale(1.05);
}

/* TABLE CONTENT SECTION */

.secondary-title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  padding: 4rem;
  background-image: linear-gradient(
    to right,
    #f5eef7,
    #d2c7fb,
    #aeabf8,
    #e09dee,
    #f9d4d9,
    #eed1f3,
    #776aa2
  );
  font-family: "Berkshire Swash", cursive;
  text-decoration: underline;
}

.table-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: linear-gradient(
    to right,
    #f5eef7,
    #d2c7fb,
    #aeabf8,
    #e09dee,
    #f9d4d9,
    #eed1f3,
    #776aa2
  );
}

.table-content div img {
  background-size: contain;
  max-width: 500px;
  max-height: 600px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform 1s;
}

.table-content div img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* PAGE AINUIDALE */

.eru {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

.eru img {
  background-size: contain;
  max-width: 600px;
  max-height: 700px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform 1s;
  margin-bottom: 3rem;
}

.text-illu {
  display: block;
  max-width: 900px;
  line-height: 1.7;
  font-size: 1.25rem;
  font-family: "Playfair Display", serif;
  margin: 10px;
}
/* END HERE */

.box-valar {
  text-align: center;
  padding: 3rem;
  position: relative;
}

.box-valar h3 {
  font-size: 1.7rem;
  font-family: "Berkshire Swash", cursive;
}

.box-valar h3 a {
  list-style: none;
  text-decoration: none;
  color: #282f39;
}

.box-valar p {
  padding-top: 1rem;
  font-size: 1.1rem;
}

/* Hover Underline Animation */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #282f39;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* FOOTER */

.footer {
  color: #282f39;
  background-image: linear-gradient(
    to right,
    #f5eef7,
    #d2c7fb,
    #aeabf8,
    #e09dee,
    #f9d4d9,
    #eed1f3,
    #776aa2
  );
  text-align: center;
  padding: 1rem;
}

/* RESPONSIVE NAVBAR MENU STARTS */
/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-image: linear-gradient(to right, #e1def6, #ea9e9d);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    color: #fff;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .call-to-action {
    text-align: center;
  }
}
